<div class="row templates">
  <div class="col-md-4">
    <h3>Template 1</h3>
    <img src="img/template-1.jpg">
    <h4>$19.99</h4>
    <a href="#/templates/1" class="btn btn-primary btn-block"> Details </a>
  </div>
  <div class="col-md-4">
    <h3>Template 2</h3>
    <img src="img/template-2.jpg">
    <h4>$14.49</h4>
    <a href="#/templates/2" class="btn btn-primary btn-block"> Details </a>
  </div>
  <div class="col-md-4">
    <h3>Template 3</h3>
    <img src="img/template-3.jpg">
    <h4>$9.99</h4>
    <a href="#/templates/3" class="btn btn-primary btn-block"> Details </a>
  </div>
  <div class="col-md-4">
    <h3>Template 4</h3>
    <img src="img/template-4.jpg">
    <h4>$15.99</h4>
    <a href="#/templates/4" class="btn btn-primary btn-block"> Details </a>
  </div>
  <div class="col-md-4">
    <h3>Template 5</h3>
    <img src="img/template-5.jpg">
    <h4>$20.99</h4>
    <a href="#/templates/5" class="btn btn-primary btn-block"> Details </a>
  </div>
</div>
