<div>
  <a href="#/templates">Go Back</a>
  <br><br>
  <div class="col-md-4">
    <img class="img-full" src="img/template-1.jpg">
  </div>
  <div class="col-md-8">
    <h3>Template 1</h3>
    <p>askfh askfhas kfjhaskfjhas fahsf ashkfja hsfkjahs fkahsf kasfkfjhas fahsf ashkfja hsfkjahs fkahsf kasfkfjhas fahsf ashkfja hsfkjahs fkahsf kasfkfjhas fahsf ashkfja hsfkjahs fkahsf kasfkfjhas fahsf ashkfja hsfkjahs fkahsf kasfkfjhas fahsf ashkfja hsfkjahs fkahsf kasfkfjhas fahsf ashkfja hsfkjahs fkahsf kasfkfjhas fahsf ashkfja hsfkjahs fkahsf kasfkfjhas fahsf ashkfja hsfkjahs fkahsf kasf fahsf ashkfja hsfkjahs fkahsf kasf</p>
    <h4>$19.99</h4>
    BUT IT
  </div>
</div>